@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-white-100: #b3b3b3;
    --color-white-200: #cccccc;
    --color-white-300: #e6e6e6;
    --color-white-400: #ffffff;

    --color-black-100: #666666;
    --color-black-200: #4d4d4d;
    --color-black-300: #333333;
    --color-black-400: #1a1a1a;
}
.theme-light {
    --color-normal: var(--color-white-400);
    --color-normal-inverse: black;
    --color-normal-soft: var(--color-white-300);
    --color-bg-normal: var(--color-white-400);
    --color-bg-normal-soft: var(--color-white-300);
}

.theme-dark {
    --color-normal: black;
    --color-normal-inverse: var(--color-white-400);
    --color-normal-soft: var(--color-black-300);
    --color-bg-normal: black;
    --color-bg-normal-soft: var(--color-black-300);
}
@layer components {
    .navIcon {
        @apply text-base desktop:text-xl desktopLg:text-2xl;
    }
}
